@page
@using VacaYAY.Web.Areas.Employees.Pages;
@model SearchModel
@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-floating mb-3">
                First name: <input type="text" name="firstName" />
            </div>
            <div class="form-floating mb-3">
                Last name: <input type="text" name="lastName" />
            </div>
            <div class="form-floating mb-3">
                Employment start date: <input type="date" name="employmentStartDate" />
            </div>
            <div class="form-floating mb-3">
                Employment end date: <input type="date" name="employmentEndDate" />
            </div>
            <button id="searchSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Search</button>
        </form>
    </div>
</div>